.ripple-overlay {
  position: absolute;
  pointer-events:none;
  display: none;
  border: solid 1px red;
}

.ripple-overlay.ripple-overlay-fadeout {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.ripple-overlay.ripple-stripes {
  text-shadow: none;
  opacity: 0.7;
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
  -pie-background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
  background-repeat: repeat;
  -webkit-background-size: 40px 40px, 100% 100%;
  -moz-background-size: 40px 40px, 100% 100%;
  -ms-background-size: 40px 40px, 100% 100%;
  -o-background-size: 40px 40px, 100% 100%;
  background-size: 40px 40px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear;
  -moz-animation: progress-bar-stripes 2s linear;
  -ms-animation: progress-bar-stripes 2s linear;
  -o-animation: progress-bar-stripes 2s linear;
  animation: progress-bar-stripes 2s linear;
}

.ripple-overlay.ripple-stripes.ripple-overlay-fadeout {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

@-webkit-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

.ripple-overlay.ripple-radial {
    background: -webkit-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -moz-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -o-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -ms-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    -webkit-background-size: 10% 10%;
    -moz-background-size: 10% 10%;
    background-size: 10% 10%;
    background-repeat: no-repeat;   
}

.ripple-overlay.ripple-radial.move {
  
  -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

.ripple-overlay.ripple-radial.ripple-overlay-fadeout {
  opacity: 0;
}