.ripple-overlay {
  position: absolute;
  pointer-events:none;
  display: none;
}

.ripple-overlay.ripple-overlay-fadeout {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.ripple:focus {
  outline: 0;
}

.ripple-overlay.ripple-radial {
    background: -webkit-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -moz-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -o-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: -ms-radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    background: radial-gradient(#fff, rgba(0,0,0,0), #fff, rgba(0,0,0,0));
    -webkit-background-size: 10% 10%;
    -moz-background-size: 10% 10%;
    background-size: 10% 10%;
    background-repeat: no-repeat;   
}

.ripple-overlay.ripple-radial.move {
  
  -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}

.ripple-overlay.ripple-radial.ripple-overlay-fadeout {
  opacity: 0;
}